.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(46, 57, 133);
  background: linear-gradient(90deg, rgba(46, 57, 133, 1) 0%, rgba(73, 70, 70, 1) 100%);
}
